*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
}

.topbar{
    width: 100%;
    height: 55px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #F55A5A;
    color: white;
}

.topbar img{
    height: 24px;
    margin-right: 7px;
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(185deg) brightness(106%) contrast(106%);
}

.journeys{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.journey{
    width: 100%;
    height: 168px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 36px;
}

.journey-pic{
    width: 125px;
}

.journey-details{
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.journey-details h1, .journey-details h5{
    margin-top: 7px;
}

.journey-details p{
    margin-top: 9px;
}

.journey-location{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.journey-location img{
    width: 11px;
    margin-right: 4px;
    filter: brightness(0) saturate(100%) invert(72%) sepia(32%) saturate(7009%) hue-rotate(317deg) brightness(88%) contrast(120%);
}

.journey-location span, a{
    font-size: 10.24px;
}

.journey-location span{
    letter-spacing: 2px;
}

.journey-location a{
    margin-left: 12px;
    color: #918E9B;
}

.journey-details h1{
    font-size: 18px;
    font-weight: bold;
}

.journey-details h5{
    font-weight: bold;
}

.journey-details h5, .journey-description{
    font-size: 10.24px;
}

.journey-description{
    line-height: 150%;
}

.footer{
    padding: 30px;
    font-size: 10px;
    font-style: italic;
}

.footer a{
    text-decoration: none;
    color: #F55A5A;
}

@media only screen and (min-width: 550px){
    .topbar{
        width: 100vw;
    }

    .journeys{
        width: 470px;
    }

    .journey-details h1{
        font-size: 25px;
    }
}